<div class="mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="page-content">
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
      </header>

      <form autocomplete="off" class="mdl-card__supporting-text" (ngSubmit)="handleLogin(formLogin)" #formLogin="ngForm">

       <cmail-form-group idCampo="email" label="Email" [validation]="email.invalid && email.touched">
         <input email required #email="ngModel" [(ngModel)]="login.email" type="email" name="email" cmailFormField>
         <span class="mdl-textfield__error">Informar um email é obrigatório!</span>
       </cmail-form-group>

       <cmail-form-group idCampo="senha" label="Senha" [validation]="senha.invalid && senha.touched">
         <input required type="password" name="senha" [(ngModel)]="login.password" #senha="ngModel" cmailFormField>
         <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
       </cmail-form-group>

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
